<!DOCTYPE html>
<html>
<head>
    <title>トップ画面</title>
    <!-- Bootstrap CSSの導入 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
</head>
<body class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="container text-center">
        <h1 class="my-4">見積管理</h1>
        <div class="d-flex justify-content-around mb-4">
            <button onclick="location.href='{% url 'create' %}'" class="btn btn-primary btn-lg">登録画面へ</button>
            <button onclick="location.href='{% url 'list' %}'" class="btn btn-secondary btn-lg">一覧画面へ</button>
        </div>
        <div class="text-center">
            <img src="{% static 'images/Takamitu-logo.png' %}" alt="Takamitu Logo" class="img-fluid" style="width: 500px;">
        </div>
    </div>

    <!-- Bootstrap JSの導入 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
